/* minimal nipplejs style */
.nipple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;           /* > Canvas */
}

.nipple .back,
.nipple .front {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.nipple .back {
  width: 120%;
  height: 120%;
  left: 50%;
  top: 50%;
  background: rgba(255,255,255,.35);
}

.nipple .front {
  width: 60%;
  height: 60%;
  left: 50%;
  top: 50%;
  background: #ffffff;
}
